git+https://github.com/Rapptz/discord.py.git@master
asyncpg
jishaku
toml
psutil
prettytable
psutil
async_lru
git+https://github.com/bijij/discord-ext-store-true
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/oliver-ni/discord-ext-menus-views
